*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Consolas,monaco,monospace; 
}

html, body {
  overflow: hidden;
}

#three-canvas{
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

#btn-container{
  z-index: 1;
  position: absolute;
  top: 5px;
  left: 5px;
}
.column{
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.hidden{
  visibility: hidden;
}